/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

a {
  text-decoration: none;
}
/* END CSS RESET */

body {
  height: 100vh;
  background-color: black;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  padding: 20px;
  font-size: 2.5rem;
}

.frame-container {
  height: 500px;
  width: 500px;
  background-color: rgb(170, 170, 170);
  border-radius: 30px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1px;
  overflow: hidden;
}

.frame {
  background-color: rgb(238, 238, 238);
  color: black;
  font-size: 7rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.new-game-btn {
  margin-top: 40px;
  padding: 5px 20px;
  border-radius: 30px;
  background-color: rgb(255, 188, 4);
  font-size: 1.5rem;
  font-weight: 600;
}

.frame-container:hover,
button:hover {
  cursor: pointer;
}

/* Footer */

footer {
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;

  background-color: rgb(22, 22, 22);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}

.github-logo {
  transition: 0.1s ease-in-out;
  height: 30px;
  margin-left: 20px;
}
.github-logo:hover {
  transform: scale(1.1);
}
